<!-- Source template: http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h-->

{% load static %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'homepage/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'homepage/css/Poppins-font.css' %}">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<script>

    var basePoints = {{points}};

    function ajaxPractice(amount) {
        xhttp = new XMLHttpRequest();
        xhttp.open("GET", "ajaxPractice/{{username}}/"+amount, true);
        xhttp.send();
        basePoints += amount;
        document.getElementById("points").innerHTML = "Points = "+basePoints;
    }

</script>

<body>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-deep-purple w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding-xlarge w3-hide-large w3-display-topleft w3-hover-white" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-32">
        <b>Language Learning<br>is Fun Fun Fun!</b>
    </h3>
    <h3 id="points" class="w3-padding-8">
        Points = {{points}}
    </h3>
  </div>
  <a href="#" onclick="w3_close()" class="w3-padding w3-hover-white">Home</a>
  <a href="logoff" onclick="w3_close()" class="w3-padding w3-hover-white">Logout</a>
  <!--a href="#learn" onclick="w3_close()" class="w3-padding w3-hover-white">Learn</a>
  <a href="#review" onclick="w3_close()" class="w3-padding w3-hover-white">Review</a-->
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-deep-purple w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-btn w3-deep-purple w3-border w3-border-white w3-margin-right" onclick="w3_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Learn / Header -->
  <div class="w3-container" style="margin-top:80px" id="learn">
    <h1 class="w3-jumbo"><b>{{username}}'s Lesson Plan</b></h1>
    <h1 class="w3-xxxlarge w3-text-deep-purple"><b>Learn.</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-quarter">
        Hey there. Here are your lessons. You will unlock more as you get more points. If this is your first time then click on lesson 1. After that, use the arrow keys and space bar to progress through the lesson. Have funnnnnn!!
    </div>
    <div class="w3-threequarter">
    {% for lesson in lessons %}
      {% if points >= lesson.points %}
        <a href="{% url 'main:lesson' number=lesson.number %}">Lesson {{ lesson.number }} {% if lesson.name != "none" %}({{lesson.name}}){%endif%}</br></a>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black w3-padding-0" onclick="this.style.display='none'">
    <span class="w3-closebtn w3-text-white w3-opacity w3-hover-opacity-off w3-xxlarge w3-container w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Review -->
  <div class="w3-container" id="review" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-deep-purple"><b>Review.</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
    <p>Get 1000 points to start unlocking review games!</p>
    <p>But unfortunately, there are none at the moment :( There will be soon though! Please, don't worry.
    </p>
  </div>





















  <!--
    We might want to learn from this later but for now we don't want it on the page
  Packages / Pricing Tables --
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-deep-purple"><b>Packages.</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
    <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
        <li class="w3-padding-16">Floorplanning</li>
        <li class="w3-padding-16">10 hours support</li>
        <li class="w3-padding-16">Photography</li>
        <li class="w3-padding-16">20% furniture discount</li>
        <li class="w3-padding-16">Good deals</li>
        <li class="w3-padding-16">
          <h2>$ 199</h2>
          <span class="w3-opacity">per room</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-white w3-padding-large w3-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-deep-purple w3-xlarge w3-padding-32">Pro</li>
        <li class="w3-padding-16">Floorplanning</li>
        <li class="w3-padding-16">50 hours support</li>
        <li class="w3-padding-16">Photography</li>
        <li class="w3-padding-16">50% furniture discount</li>
        <li class="w3-padding-16">GREAT deals</li>
        <li class="w3-padding-16">
          <h2>$ 249</h2>
          <span class="w3-opacity">per room</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-deep-purple w3-padding-large w3-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact --
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-deep-purple"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid black" class="w3-round">
    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
    <form action="form.asp" target="_blank">
      <div class="w3-group">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-group">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-group">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-btn-block w3-padding-large w3-deep-purple w3-margin-bottom">Send Message</button>
    </form>
  </div>

    -->


















<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="http://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>